<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/books"> <i class="fas fa-book me-2"></i>Books</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/books"> <i class="fas fa-book me-1"></i>Böcker </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quotes">
            <i class="fas fa-quote-left me-1"></i>Mina citat
          </a>
        </li>
      </ul>
      <button class="btn btn-outline-light" (click)="logout()">
        <i class="fas fa-sign-out-alt me-1"></i>Logga ut
      </button>
    </div>
  </div>
</nav>
